<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanonicalName</key>
	<string>bridgeos8.4.internal</string>
	<key>CustomProperties</key>
	<dict>
		<key>CLANG_ENABLE_EXPLICIT_MODULES</key>
		<string>NO</string>
	</dict>
	<key>DebuggerOptions</key>
	<dict>
		<key>SupportsViewDebugging</key>
		<string>YES</string>
	</dict>
	<key>DefaultDeploymentTarget</key>
	<string>8.4</string>
	<key>DefaultProperties</key>
	<dict>
		<key>AD_HOC_CODE_SIGNING_ALLOWED</key>
		<string>YES</string>
		<key>BRIDGEOS_DEPLOYMENT_TARGET</key>
		<string>8.4</string>
		<key>CODE_SIGNING_REQUIRED</key>
		<string>YES</string>
		<key>CODE_SIGN_ENTITLEMENTS</key>
		<string></string>
		<key>CODE_SIGN_IDENTITY</key>
		<string>Apple Development</string>
		<key>DEAD_CODE_STRIPPING</key>
		<string>YES</string>
		<key>DEFAULT_COMPILER</key>
		<string>com.apple.compilers.llvm.clang.1_0</string>
		<key>DEPLOYMENT_TARGET_SUGGESTED_VALUES</key>
		<array>
			<string>3.0</string>
			<string>3.1</string>
			<string>3.2</string>
			<string>3.3</string>
			<string>3.4</string>
			<string>3.5</string>
			<string>3.6</string>
			<string>4.0</string>
			<string>4.1</string>
			<string>4.2</string>
			<string>4.3</string>
			<string>4.4</string>
			<string>4.5</string>
			<string>4.6</string>
			<string>5.0</string>
			<string>5.1</string>
			<string>5.2</string>
			<string>5.3</string>
			<string>5.4</string>
			<string>5.5</string>
			<string>6.0</string>
			<string>6.1</string>
			<string>6.2</string>
			<string>6.3</string>
			<string>6.4</string>
			<string>6.5</string>
			<string>6.6</string>
			<string>7.0</string>
			<string>7.1</string>
			<string>7.2</string>
			<string>7.3</string>
			<string>7.4</string>
			<string>7.5</string>
			<string>7.6</string>
			<string>8.0</string>
			<string>8.1</string>
			<string>8.2</string>
			<string>8.3</string>
			<string>8.4</string>
		</array>
		<key>ENTITLEMENTS_DESTINATION</key>
		<string>Signature</string>
		<key>ENTITLEMENTS_REQUIRED</key>
		<string>NO</string>
		<key>GCC_THUMB_SUPPORT</key>
		<string>YES</string>
		<key>KASAN_CFLAGS_CLASSIC</key>
		<string>-DKASAN=1 -DKASAN_CLASSIC=1 -fsanitize=address -mllvm -asan-globals-live-support -mllvm -asan-force-dynamic-shadow</string>
		<key>KASAN_CFLAGS_TBI</key>
		<string>-DKASAN=1 -DKASAN_TBI=1 -fsanitize=kernel-hwaddress -mllvm -hwasan-recover=0 -mllvm -hwasan-instrument-atomics=0 -mllvm -hwasan-instrument-stack=1 -mllvm -hwasan-generate-tags-with-calls=1 -mllvm -hwasan-instrument-with-calls=1 -mllvm -hwasan-use-short-granules=0 -mllvm -hwasan-memory-access-callback-prefix=__asan_</string>
		<key>KASAN_DEFAULT_CFLAGS</key>
		<string>$(KASAN_CFLAGS_CLASSIC)</string>
		<key>KASAN_DEFAULT_CFLAGS[arch=arm64]</key>
		<string>$(KASAN_CFLAGS_TBI)</string>
		<key>KASAN_DEFAULT_CFLAGS[arch=arm64e]</key>
		<string>$(KASAN_CFLAGS_TBI)</string>
		<key>PLATFORM_NAME</key>
		<string>bridgeos</string>
		<key>SUPPORTED_DEVICE_FAMILIES</key>
		<string>5</string>
		<key>TAPI_USE_SRCROOT</key>
		<string>YES</string>
		<key>TAPI_VERIFY_MODE</key>
		<string>Pedantic</string>
		<key>TEST_FRAMEWORK_SEARCH_PATHS</key>
		<string>$(inherited) $(PLATFORM_DIR)/Developer/Library/Frameworks $(SDKROOT)/Developer/Library/Frameworks</string>
		<key>TEST_LIBRARY_SEARCH_PATHS</key>
		<string>$(inherited) $(PLATFORM_DIR)/Developer/usr/lib</string>
	</dict>
	<key>DisplayName</key>
	<string>bridgeOS 8.4</string>
	<key>IsBaseSDK</key>
	<string>YES</string>
	<key>MaximumDeploymentTarget</key>
	<string>8.4.99</string>
	<key>MinimalDisplayName</key>
	<string>8.4</string>
	<key>PropertyConditionFallbackNames</key>
	<array>
		<string>embedded</string>
	</array>
	<key>SupportedTargets</key>
	<dict>
		<key>bridgeos</key>
		<dict>
			<key>Archs</key>
			<array>
				<string>arm64</string>
			</array>
			<key>BuildVersionPlatformID</key>
			<string>5</string>
			<key>ClangRuntimeLibraryPlatformName</key>
			<string>bridgeOOS</string>
			<key>DefaultDeploymentTarget</key>
			<string>8.4</string>
			<key>DeploymentTargetSettingName</key>
			<string>BRIDGEOS_DEPLOYMENT_TARGET</string>
			<key>DeviceFamilies</key>
			<array>
				<dict>
					<key>DisplayName</key>
					<string>iBridge</string>
					<key>Identifier</key>
					<string>5</string>
					<key>Name</key>
					<string>bridge</string>
				</dict>
			</array>
			<key>LLVMTargetTripleEnvironment</key>
			<string></string>
			<key>LLVMTargetTripleSys</key>
			<string>bridgeos</string>
			<key>LLVMTargetTripleVendor</key>
			<string>apple</string>
			<key>MaximumDeploymentTarget</key>
			<string>8.4.99</string>
			<key>MinimumDeploymentTarget</key>
			<string>3.0</string>
			<key>PlatformFamilyDisplayName</key>
			<string>bridgeOS</string>
			<key>PlatformFamilyName</key>
			<string>bridgeOS</string>
			<key>RecommendedDeploymentTarget</key>
			<string>8.0</string>
			<key>SwiftConcurrencyMinimumDeploymentTarget</key>
			<string>7.0</string>
			<key>SwiftOSRuntimeMinimumDeploymentTarget</key>
			<string>7.0</string>
			<key>SystemPrefix</key>
			<string></string>
			<key>ValidDeploymentTargets</key>
			<array>
				<string>3.0</string>
				<string>3.1</string>
				<string>3.2</string>
				<string>3.3</string>
				<string>3.4</string>
				<string>3.5</string>
				<string>3.6</string>
				<string>4.0</string>
				<string>4.1</string>
				<string>4.2</string>
				<string>4.3</string>
				<string>4.4</string>
				<string>4.5</string>
				<string>4.6</string>
				<string>5.0</string>
				<string>5.1</string>
				<string>5.2</string>
				<string>5.3</string>
				<string>5.4</string>
				<string>5.5</string>
				<string>6.0</string>
				<string>6.1</string>
				<string>6.2</string>
				<string>6.3</string>
				<string>6.4</string>
				<string>6.5</string>
				<string>6.6</string>
				<string>7.0</string>
				<string>7.1</string>
				<string>7.2</string>
				<string>7.3</string>
				<string>7.4</string>
				<string>7.5</string>
				<string>7.6</string>
				<string>8.0</string>
				<string>8.1</string>
				<string>8.2</string>
				<string>8.3</string>
				<string>8.4</string>
			</array>
		</dict>
	</dict>
	<key>Version</key>
	<string>8.4</string>
	<key>VersionMap</key>
	<dict/>
</dict>
</plist>
